.env
.env.dev
docker-compose.dev.yml
.venv
.python-version
runs/
*.pth
frames/
frames_resized/
*.mp4
*.png
*.jpg
*.pt
*.mov
*__pycache__*/
# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc


*.log
jersey_image/
output/
inputs/
logs/
videos/
models/
.cursor/
*.sh
folder_run.py
outputs/
output_dir/
*.zip
output_old_May11/
cr_project_status.md
dummp_files/